.Main_container {
  /* background-image: url("https://img.freepik.com/free-vector/hand-drawn-thrift-store-illustration_23-2150066529.jpg?t=st=1709217522~exp=1709218122~hmac=f0bce704a3db641cd1fc9fcf8bc58278bd872808dd7a6798fdc01b3a7c729ced");
  background-repeat: no-repeat; */
  height: 100vh;
  /* background-attachment: fixed;
  background-size: 100% 100%; */
  background-color: black;
}

/* .bg {
  background-image: url("https://img.freepik.com/free-vector/hand-drawn-thrift-store-illustration_23-2150066529.jpg?t=st=1709217522~exp=1709218122~hmac=f0bce704a3db641cd1fc9fcf8bc58278bd872808dd7a6798fdc01b3a7c729ced");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
} */
